# Configuración de Base de Datos
DB_HOST=localhost
DB_PORT=5432
DB_NAME=cajasComunales
DB_USER=postgres
DB_PASSWORD=root

# Configuración del Servidor
PORT=3000
NODE_ENV=production

# JWT Secrets (Cambiar en producción!!!)
ACCESS_TOKEN_SECRET=your-access-token-secret-key-change-in-production
REFRESH_TOKEN_SECRET=your-refresh-token-secret-key-change-in-production
